# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
display(salaries[salaries['Salary or Hourly'] == 'Salary']['Annual Salary'].count())
salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].count()

#25161 dont receive by hour
#8022 receive by hour

25161

8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

In [6]:
salaries.shape

(33183, 8)

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:
count_names_by_dep=salaries.groupby(by='Department',as_index=True).agg('count')
count_names_by_dep['Name']

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# Your code here:
#H0: hourly wage u = 30
#H1: hourly wage u != 30

sign = 0.05

hours_sample = salaries[salaries['Typical Hours']>0]['Hourly Rate'].sample(80)
hours_sample

mean = hours_sample.mean()
std = hours_sample.std(ddof=1)
display(mean)
display(std)

stat = (mean-30)/(std/np.sqrt(80))
stat

# p-value 2-tailed
display(st.t.sf(abs(stat),80-1)*2)

#We can avoid all the code above by just:
#st.ttest_1samp(hours_sample,30)

#REJECT H0??? p<sign YES, REJECT

34.30374999999998

10.535095582103214

0.00046307895473716385

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [52]:
# Your code here:
#H0: u <= 86000
#H1: u > 86000
sign = 0.05


police_sample = salaries[(salaries['Salary or Hourly']=='Salary')&(salaries['Department']=='POLICE')]['Annual Salary']#.sample(250)
police_sample

(st.ttest_1samp(police_sample, 86000).pvalue)/2
#REJECT H0??? p<sign >YES, REJECT
# you can never accept/prove anything, all you can do it reject something opposed to the thing you are trying to prove
# hence Null Hypothesis is always the opposite of what you are trying to prove

0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers.

In [10]:
# Your code here:
pd.crosstab(salaries['Department'], 'Count of Hourly Workers',values=salaries['Hourly Rate'], aggfunc='count')

col_0                  Count of Hourly Workers
Department
ADMIN HEARNG                                 0
ANIMAL CONTRL                               19
AVIATION                                  1082
BOARD OF ELECTION                            0
BOARD OF ETHICS                              0
BUDGET & MGMT                                2
BUILDINGS                                    0
BUSINESS AFFAIRS                             7
CITY CLERK                                   0
CITY COUNCIL                                64
COMMUNITY DEVELOPMENT                        4
COPA                                         0
CULTURAL AFFAIRS                             7
DISABILITIES                                 0
DoIT                                         0
FAMILY & SUPPORT                           287
FINANCE                                     44
FIRE                                         2
GENERAL SERVICES                           765
HEALTH                                       3
HUMAN RELATIONS                              0
HUMAN RESOURCES                              4
INSPECTOR GEN                                0
LAW                                         40
LICENSE APPL COMM                            0
MAYOR'S OFFICE                               8
OEMC                                      1273
POLICE                                      10
POLICE BOARD                                 0
PROCUREMENT                                  2
PUBLIC LIBRARY                             299
STREETS & SAN                             1862
TRANSPORTN                                 725
TREASURER                                    0
WATER MGMNT                               1513

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [54]:
# Your code here:
#STREETS & SAN	1862

#H0: u >= 35
#H1: u < 35
sign = 0.05

streets_dep = salaries[(salaries['Salary or Hourly']=='Hourly')&(salaries['Department']=='STREETS & SAN')]['Hourly Rate']#.sample(186)
streets_dep

(st.ttest_1samp(streets_dep, 35).pvalue)/2

#REJECT H0??? p<sign YES, REJECT

#its a one tailed test, because u >= 35, we only care about one side of the distribution, hence p/2

1.6689265282353859e-21

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [12]:
# Your code here:
#construct a 95% confidence interval for the mean hourly wage of all hourly workers.
n = 80
t = st.t.ppf(1-((1-0.95)/2),n-1)
mean = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].mean()
std = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].std()
sample = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].sample(n)
print("left end: ", mean - t* (std/np.sqrt(n)))
print("right end: ", mean + t* (std/np.sqrt(n)))

#st.sem(sample, ddof=1)
#st.t.interval(0.95, sample, loc=mean, scale=std)

left end:  30.093036707357435
right end:  35.48407872520513

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [13]:
# Your code here:
n = 250
t = st.t.ppf(1-((1-0.95)/2),n-1)
mean = salaries[salaries['Salary or Hourly']=='Salary']['Annual Salary'].mean()
std = salaries[salaries['Salary or Hourly']=='Salary']['Annual Salary'].std()

sample = salaries[salaries['Salary or Hourly']=='Salary']['Annual Salary'].sample(n)
print("left end: ", mean - t* (std/np.sqrt(n)))
print("right end: ", mean + t* (std/np.sqrt(n)))

left end:  84165.99505328239
right end:  89408.00452702068

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [14]:
# Your code here: